*{
    font-family: Arial, Helvetica, sans-serif;
}
label{
    font-size: 1.5em;
}
input{
    outline: none;
    padding:10px;
}
input:hover{
    border: 2px solid lightblue;
}
.container{
display:flex;
height:700px;
justify-content: center;
background-image: url(../img/fondo-rosa.jpg);
align-items: center;
}
.container2{
    display:flex;
    flex-direction: column;
    padding-left:0px;
}
.boton{
    align-self: center;
    background:#E2A0E8;
    width:100px;
    height: 30px;
    border-radius: 5px;
    color:white;
    font-size: 1em;
    margin-top:20px;
}
.boton:hover{
    background:#BBB8FF;
}
#resultado{
    top:400px;
    width:100%;
}
#apellidos{
    background-color: #D4CAE8;
}
#nombre{
    background-color: #D4CAE8;
}